@model Conexion.Models.Trabajador

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />

<div class="form container text-center border">
    <h4 class="text-primary">Trabajador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>


    <p class="text-center">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdTrabajador }) |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>


</div>
