@model IEnumerable<Conexion.Models.Trabajador>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<p class="text-center">
    @Html.ActionLink("Crear Nuevo Trabajador", "Create")
</p>
<table class="table container border">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre) apellido
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTrabajador }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdTrabajador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTrabajador })
        </td>
    </tr>
}

</table>
