@model Conexion.Models.Estacionamiento

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<hr />
<div class="form container border text-center">
    <h4 class="text-primary">Estacionamiento</h4>
    <hr />
    <dl class="dl ">
        <dt>
            @Html.DisplayNameFor(model => model.LugarEstacionamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarEstacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstacionamientoOcupado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstacionamientoOcupado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bicicleta.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bicicleta.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.Nombre)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdEstacionamiento }) |
        @Html.ActionLink("Volver A la Lista", "Index")
    </p>
</div>

