@model Conexion.Models.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
}

<hr />
<hr />
<hr />


<div class="form container text-center border">
    <h4 class="text-primary"> Eliminar Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <hr />

        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
