

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico" />
   
    <title>@ViewBag.Title-Inacap</title>

    <!--css-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <!--font-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fontd-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />




    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />


</head>
<body>





    @{ if (Session["User"] == null)
        {

            <nav class="navbar navbar-expand-lg  navbar-light bg-primary fixed-top py-1" id="mainNav">
                <div class="container">
                    <a class="navbar-brand  js-scroll-trigger" href="~/Home">Inacap </a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">

                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Usuarios/Login">Iniciar sesión</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Usuarios/Registro">Regístrate Gratis</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">nosotros</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        }
        else if (Session["User"] != null & Session["Rol"].Equals("ADM"))
        {


            <nav class="navbar navbar-expand-lg  navbar-light bg-primary fixed-top py-1" id="mainNav">
                <div class="container">
                    <a class="navbar-brand  js-scroll-trigger" href="~/Home">Inacap ADMINISTRADOR </a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Usuarios/Administrador">Panel de Administración</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">nosotros</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Content("~/Usuarios/cerrar")">Cerrar Sesión</a></li>


                        </ul>
                    </div>
                </div>
            </nav>




        }
        else if (Session["User"] != null & Session["Rol"].Equals("Trabajador"))
        {


            <nav class="navbar navbar-expand-lg  navbar-light bg-primary fixed-top py-1" id="mainNav">
                <div class="container">
                    <a class="navbar-brand  js-scroll-trigger" href="~/Home">Inacap Trabajador  "@Session["User"]"</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Estacionamiento">Estacionamiento</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Bicicletas">Bicicletas</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">nosotros</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Content("~/Usuarios/cerrar")">Cerrar Sesión</a></li>

                        </ul>
                    </div>
                </div>
            </nav>




        }
        else if (Session["User"] != null & Session["Rol"].Equals("Cliente"))
        {


            <nav class="navbar navbar-expand-lg  navbar-light bg-primary fixed-top py-1" id="mainNav">
                <div class="container">
                    <a class="navbar-brand  js-scroll-trigger" href="~/Home">Inacap Bienvenido "@Session["User"]"</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0">

                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="~/Bicicletas">Bicicletas</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">nosotros</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contáctanos</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="@Url.Content("~/Usuarios/cerrar")">Cerrar Sesión</a></li>

                        </ul>
                    </div>
                </div>
            </nav>




        }



    }






    <section>@RenderBody()</section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>



